$breakpoints: (
    xxs: 350px,
    xs: 599px,
    s: 767px,
    m: 991px,
    l: 1199px,
    xl: 1600px,
    xxl: 1921px
);

@mixin mediaQueryTo($breakpoint) {
    @media screen and (max-width: map-get($breakpoints, $breakpoint)) {
        @content;
    }
}

@mixin mediaQueryFrom($breakpoint) {
    @media screen and (min-width: map-get($breakpoints, $breakpoint)) {
        @content;
    }
}